@import "tailwindcss";

@layer utilities {
  .note > h1 {
    font-weight: bolder;
    font-size: larger;
  }
  .note > h2 {
    font-weight: bold;
    font-size: large;
  }

  .note > figure {
    width: 100%;
    padding: 1.5rem 1.5rem;
    background: var(--color-neutral-50);
    border-radius: var(--radius-md);
    border: solid var(--color-neutral-300) 1px;
  }

  .note > figure > figcaption {
    background-color: var(--color-neutral-200);
    color: var(--color-neutral-900);
    width: min-content;
    padding: 0rem 0.5rem;
    text-wrap: nowrap;
    margin-bottom: 1rem;
    border-radius: var(--radius-sm);
    /* line-height: 0.5rem; */
  }

  .note > p {
    text-wrap-style: pretty;
  }
  .note > hr {
    width: 100%;
    border: solid #000 1px;
  }

  .note > ul {
    list-style: square;
    gap: 0.25rem;
    padding: 0 0 0 1rem;
  }

  .note > pre {
    width: 100%;
    max-width: 100%;
    text-wrap: initial;
    padding: 1rem;
    font-size: var(--text-sm);
    border-radius: var(--radius-sm);
  }
}
