---
import "../styles/global.css";
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"
      is:inline></script>

    <title>{frontmatter.title}</title>
  </head>
  <body class="bg-neutral-100 flex flex-col items-center">
    <nav class="w-full max-w-2xl p-4">
      <a href="/" class="underline hover:no-underline cursor-pointer">Home</a>
    </nav>
    <main
      class="w-full max-w-2xl flex flex-col items-start p-4 pb-32 gap-8 tracking-tight"
    >
      <slot />
    </main>
  </body>
</html>
